/* list */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* title */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* paragraph */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Secular+One&display=swap');
html{
   overflow-x: hidden;
   scroll-padding-top: 9rem;
   scroll-behavior: smooth;
}
html::-webkit-scrollbar{
   width: .8rem;
}
html::-webkit-scrollbar-track{
   background: transparent;
}
html::-webkit-scrollbar-thumb{
   background: black;
   border-radius: 5rem;
}
body{
   margin: 0;
   padding: 0;
}
#list{
   padding-right: 1rem;
   padding-top: 1.8rem;
   font-size: 1.2em;
   float: right;
}
.list{
   font-weight: bolder;
   font-family: 'Secular One', sans-serif;
   margin-right: 0.6rem;
   color: rgb(50, 50, 50);
   text-decoration: none;
}
#list:hover{
   padding-top: 28px;
}
.list:hover{
   font-size: 20px;
   color: black;
   text-decoration: underline;
}
#contacts{
   color: black;
   text-decoration: underline;
}
#cover{
   justify-content: center;
   display: flex;
   margin-top: 4rem;
   height: 74.8vh;
   background: linear-gradient(rgba(0, 0, 80, 0.5), rgba(0, 0, 80, 0.5)), url(/picture/theacover.jpg);
   background-position: 0% 30%;
   background-size: cover;
   background-repeat: no-repeat;
}
#head{
   padding-top: 9rem;
   padding-left: 12rem;
   padding-right: 12rem;
   text-align: center;
   color: rgb(240, 240, 240);
}
#title{
   line-height: 2px;
   font-family: 'Secular One', sans-serif;
   font-size: 3em;
}
#bio{
   opacity: 0.8;
   font-weight: lighter;
   font-size: 1em;
   font-family: 'Secular One', sans-serif;
}
#space{
   padding-top: 1.8rem;
}
#bruhlink{
   text-decoration: none;
}
#conbut{
   justify-content: center;
   display: flex;
   align-items: center;
   margin: 0px auto;
   font-weight: lighter;
   font-size: 16px;
   font-family: 'Secular One', sans-serif;
   text-transform: uppercase;
   background: #de3000;
   width: 12rem;
   height: 2.5rem;
   color: white;
}
#conbut:hover{
   text-decoration: underline;
}

.contact .row{
   padding: 0 20%;
   display: flex;
   background: white;
   flex-wrap: wrap;
   gap:1rem;
}

.contact .row form{
   flex:1 1 45rem;
   padding:5rem 2rem;
   text-align: center;
}

.contact .row form h3{
   text-transform: uppercase;
   font-size: 3.5rem;
   color: black;
}

.contact .row form .inputBox{
   display: flex;
   align-items: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
   background:black;
   border:black;
}

.contact .row form .inputBox span{
   color:white;
   font-size: 2rem;
   padding-left: 2rem;
}

.contact .row form .inputBox input{
   width: 100%;
   padding:2rem;
   font-size: 1.7rem;
   color: white;
   text-transform: none;
   background:none;
}