/* List */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* welcome text */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body{
   margin: 0;
   padding: 0;
}
#list{
   padding-right: 1rem;
   padding-top: 1.8rem;
   font-size: 1.2em;
   float: right;
}
.list{
   font-weight: bolder;
   font-family: 'Secular One', sans-serif;
   margin-right: 0.6rem;
   color: rgb(50, 50, 50);
   text-decoration: none;
}
#list:hover{
   padding-top: 28px;
}
.list:hover{
   font-size: 20px;
   color: black;
   text-decoration: underline;
}
#home{
   color: black;
   text-decoration: underline;
}
#logo{
   margin: 1rem;
   width: 5em;
   border-radius: 50%;
}
#cover{
   display: flex;
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(/picture/theacover.jpg) center/cover fixed no-repeat;
   justify-content: center;
   min-height: 100vh;
   align-items: center;
   text-align: center;
}
#welcome{
   font-family: 'Secular One', sans-serif;
   font-size: 3em;
   color: rgb(10, 0, 39);
   text-transform: uppercase;
}
.color{
   color: rgb(0, 247, 41);
}
